.payment{
    background-image: url('https://img.freepik.com/free-vector/transfer-money-concept-illustration_114360-4165.jpg?w=826&t=st=1691422852~exp=1691423452~hmac=f69aa26059a7f0d03e5efe01fabf56928a44b48b236c07123194cca31c9659de');
    background-repeat: no-repeat;
    background-size: cover;
}