.garage{
    background-image: url('https://img.freepik.com/free-vector/empty-warehouse-hangar-interior-realistic-vector_1441-3882.jpg?w=1380&t=st=1691419940~exp=1691420540~hmac=ccdf5e0152e712b79f0fbf042cfefa4f857989a8f14155a4720e79d368eccad4');
    background-repeat: no-repeat;
    background-size: cover;
}